.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

lib/generated/
res/
.idea/
android/

lib/selectable_tags_back.dart
lib/generated_plugin_registrant.dart

example/lib/main_back.dart
example/android/local.properties
example/android/app/src/main/java/*
example/ios/Flutter/flutter_export_environment.sh
