.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

lib/generated/
res/
.idea/
android/

lib/selectable_tags_back.dart
example/lib/main_back.dart
